name: ci
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build:
    environment: CI
    runs-on: ubuntu-latest

    strategy:
      matrix:
        ruby-version:
          - '3.4'
          - '3.3'
          - '3.2'
          - 'jruby'
    steps:
      - name: Git checkout
        uses: actions/checkout@v4
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true
      - name: Run tests
        run: bundle exec rake
      - name: Upload coverage results
        if: matrix.ruby-version == '3.3'
        continue-on-error: true
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ github.token }}
